@media(max-width: 1040px) {
    .header-list ul {
        gap: 1em;
    }
}

@media(max-width: 1025px) {
    .social-sticky{
        display: none;
    }
}

@media(max-width: 981px){
    .header-list{
        display: none;
    }

    .sqi-header{
        display: flex;
        justify-content: space-between;
    }

    .fa-bars{
        display: block;
    }

    .matric-div{
        flex-direction: column;
    }

    .matric-ceremony1{
        width: 100%;
    }

    .matric-ceremony2{
        width: 100%;
        gap: 2em;
    }

    .latest-second{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .matric{
        width: 100%;
    }

    .commissioner{
        width: 100%;
    }

    .admission{
        width: 100%;
    }

    .footer-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-div div{
        width: 100%;
    }
}

@media(max-width: 768px){
    .latest-second{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 479px){
    .footer-div{
        grid-template-columns: 1fr;
    }
}