@media(max-width: 1040px) {
    .header-list ul {
        gap: 1em;
    }
}

@media(max-width: 1025px) {
    .social-sticky{
        display: none;
    }
}

@media(max-width: 981px){
    .header-list{
        display: none;
    }

    .sqi-header{
        display: flex;
        justify-content: space-between;
    }

    .fa-bars{
        display: block;
    }

    .eligible-div{
        flex-direction: column;
    }

    .eligible-img{
        width: 100%;
    }

    .eligible-text{
        width: 100%;
    }

    .latest-second{
        flex-direction: column;
    }

    .matric {
        width: 80vw;
    }

    .commissioner{
        width: 80vw;
    }
    
    .admission{
        width: 80vw;
    }

    .footer-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-div div{
        width: 100%;
    }

    .apply
}

@media(max-width: 748px){
    .apply-img button{
        margin-top: 5%;
    }
}

@media(max-width: 479px){
    .footer-div{
        grid-template-columns: 1fr;
    }

    .logo-img {
        width: 40%;
      }
    
      .hero-study h1 {
        font-size: 220%;
      }
}